__pycache__/
.idea/
venv/
airflow/logs/*
*.pyc
clickhouse/logs/*
clickhouse/data/*
clickhouse/clickhouse_data/*
dbt/logs/*
dbt/models/target/*
dbt/target/*
hadoop/datanode1/
hadoop/datanode2/
hadoop/namenode/
dbt/.user.yml
hadoop/.DS_Store
.DS_Store
#TODO
.gitignore
